* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html {
  height: 100%;
}

body {
  display: grid;
  place-content: center;

  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: #E1E1E6;

  transition: .5s;
}

body header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  position: fixed;

  margin-top: 2rem;
  gap: 2.8rem;
  padding: .4rem;
}

body header img {
  max-width: 12%;
}

body nav {
  display: flex;
  gap: 2rem;
}

body nav a {
  color: grey;
  text-decoration: inherit;
  transition: color 0.5s;
}

body nav a.active {
  color: white;
}

body main {
  display: grid;
  place-items: center;
  height: 100vh;
  margin-top: -1.2rem;
}

body.home #app {
  display: flex;
  max-width: 100%;
}

body.home {
  background-image: url('./assets/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body.about {
  background-image: url('./assets/about.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body.explorer {
  background-image: url('./assets/explorer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body #app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

body.about #app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding: 2rem;
  max-width: 75%;
}

body.explorer #app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding: 2rem;
  max-width: 75%;
}

body.home #app button {
  background-color: Transparent;
  border-color: white;
  cursor: pointer;

  color: white;
  padding: 1.6rem;
  border-radius: .8rem;
}

body.home #app button:hover {
  animation: shadow-inset-center .6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Resolution 1080+ */
@media(min-width: 1080px){
  body {
    font-size: 2rem;
  }
}

/* Animations */
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(2, 79, 151, 0.849);
  }
}

